{% extends "serp/base.html" %}

{% block title %}CONTABILIDAD - Cobros{% endblock title %}

{% block head %}
<style>
    #tipoSelec { margin: 1em 0 }
</style>
{% endblock head %}

{% block content %}
<h2>Cobros {% include 'serp/snippets/create.html' with model_name='cobro' %}</h2>

<div id="tipoSelec">
    <form method="get" action="{% url 'serp:cobro-list' %}">
        <label for="tipo">Tipo:</label>
        <select id="tipo" name="tipo" onchange="this.form.submit()">
            <option value="" {% if tipo == '' %}selected="selected"{% endif %}>TODO</option>
            <option value="I" {% if tipo == 'I' %}selected="selected"{% endif %}>INGRESOS</option>
            <option value="G" {% if tipo == 'G' %}selected="selected"{% endif %}>GASTOS</option>
        </select>
    </form>
</div>

<table class="table">
    <tr>
        <th>Referencia</th>
        <th>Concepto</th>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Total</th>
        <th></th>
        <th></th>
    </tr>
    {% for cobro in object_list %}
    <tr>
        <td>{{ cobro.referencia }}</td>
        <td>{{ cobro.concepto }}</td>
        <td>{{ cobro.fecha }}</td>
        <td>{{ cobro.tipo }}</td>
        <td>{{ cobro.importe }}</td>
        <td class="noBorder">{% include 'serp/snippets/update.html' with model_name='cobro' pk=cobro.id %}
        </td>
        <td class="noBorder">{% include 'serp/snippets/delete.html' with model_name='cobro' pk=cobro.id %}
        </td>
    </tr>
    {% endfor %}
</table>
<br/>
<table class="table">
    <tr>
        <th>Total base imp.</th>
        <th>Diferencia base imp.</th>
        <th>Total IVA</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>{{ total_base_imp }}</td>
        <td>{{ diferencia_base_imp }}</td>
        <td>{{ total_iva }}</td>
        <td id="num">{{ total }}</td>
    </tr>
</table>
{% endblock content %}
