{% extends "serp/base.html" %}

{% block title %}CONTABILIDAD - Personas{% endblock title %}

{% block content %}
<h2>Domiciliaciones {% include 'serp/snippets/create.html' with model_name='domiciliacion' %}</h2>

<table class="listModel">
	<tr>
		<th>Referencia</th>
		<th>Fecha firma</th>
		<th>NIF acreedor</th>
		<th>Nombre acreedor</th>
        <th>NIF deudor</th>
		<th>Nombre deudor</th>
        <th>IBAN deudor</th>
		<th></th>
		<th></th>
	</tr>
	{% for domiciliacion in object_list %}
	<tr>
		<td>{{ domiciliacion.referencia }}</td>
		<td>{{ domiciliacion.fecha_firma }}</td>
		<td>{{ domiciliacion.cdtr_nif }}</td>
		<td>{{ domiciliacion.cdtr_nombre }}</td>
        <td>{{ domiciliacion.dbtr_nif }}</td>
		<td>{{ domiciliacion.dbtr_nombre }}</td>
		<td>{{ domiciliacion.dbtr_iban }}</td>
		<td class="noBorder">{% include 'serp/snippets/update.html' with model_name='domiciliacion' pk=domiciliacion.id %}</td>
		<td class="noBorder">{% include 'serp/snippets/delete.html' with model_name='domiciliacion' pk=domiciliacion.id %}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
