{% extends "serp/base.html" %}

{% block title %}CONTABILIDAD - Personas{% endblock title %}

{% block content %}
<h2>Personas {% include 'serp/snippets/create.html' with model_name='persona' %}</h2>

<table class="listModel">
	<tr>
		<th>Referencia</th>
		<th>Nombre</th>
		<th>NIF</th>
		<th>Email</th>
		<th></th>
		<th></th>
	</tr>
	{% for persona in object_list %}
	<tr>
		<td>{{ persona.referencia }}</td>
		<td>{{ persona.nombre }}</td>
		<td>{{ persona.nif }}</td>
		<td>{{ persona.email }}</td>
		<td class="noBorder">{% include 'serp/snippets/update.html' with model_name='persona' pk=persona.id %}</td>
		<td class="noBorder">{% include 'serp/snippets/delete.html' with model_name='persona' pk=persona.id %}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
